.game-info-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    box-sizing: border-box;
    padding: 0 12px;
    background-color: var(--component-background-color);
    border: 1px solid var(--component-border-color);
    border-radius: var(--component-border-radius);
}

.game-info-container-left {
    display: flex;
    gap: 16px;
}

.game-info-container-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game-info-container-right {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.game-info-btn {
    display: flex;
    background-color: transparent;
    border: none;
    justify-content: center;
    align-items: center;
}
