.player-info-container {
    display: flex;
    width: 200;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
}

.player-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 59px;
    border: 2px solid black;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 8px;
}

.player-info-drawer {
    filter: brightness(0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 60px;
    border: 2px solid black;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 8px;
}

.player-info-score {
    display: flex;
    flex-direction: row;
    align-items: center;
}