.whiteboard-canvas-container {
    display: flex;
    flex-direction: column;
    width: 800px;
    gap: var(--component-gap);
}

.whiteboard-canvas {
    display: block;
    width: 100%;
    height: 600px;
    box-sizing: border-box;
    border: var(--component-border);
    background-color: var(--component-background-color);
    border-radius: var(--component-border-radius);
}
