.lobby-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
}

.lobby-layout::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url(../../../assets/draw-and-guess-bg-full.png);
    background-repeat: no-repeat;
    background-size: 24rem 90vh;
    background-position: 92%;
    opacity: 0.5;
    z-index: -1;
}

.lobby-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1000px;
    padding: 0 20px;
}

.draw-and-guess-lobby-header {
    margin-top: 30px;
    margin-bottom: 60px;
    align-items: start;
}

.draw-and-guess-lobby-header-icon {
    width: 50px;
    height: 50px;
}

.draw-and-guess-lobby-header-text {
    font-weight: 800;
    font-size: 36px;
    line-height: 50px;
}

.draw-and-guess-lobby-btn-group {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    margin-bottom: 20px;
}

.draw-and-guess-lobby-info-table-footer {
    text-align: end;
    font-family: monospace;
    font-size: 16px;
    font-weight: 500;
}

.row-even {
    background-color: #e1effe;
}

.row-odd {
    background-color: #d4e6ff;
}

.ant-table-thead > tr > th {
    background-color: antiquewhite !important;
}

/* .ant-table-footer {
} */
