.logo-container {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    padding: 30px;
    user-select: none;
    z-index: -1;
}

.logo-icon {
    width: 30px;
    height: 30px;
}

.logo-title {
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
}
