/* Zumpo/Keyboard. */
.keyboard {
  display: flex;
  flex: none;
  flex-direction: column;
  align-items: center;
  gap: var(--zumpo-space-8);
}

.row {
  display: flex;
  gap: var(--zumpo-space-8);
}

.phone .row {
  gap: var(--zumpo-space-4);
}
