.gamehub-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gamehub-header {
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 40px;
}

.gamehub-header-text {
    font-weight: 800;
    font-size: 30px;
    line-height: 30px;
}

.gamehub-header-logout-btn {
    font-weight: 500;
}

.gamehub-game-select-text {
    margin-top: 0px !important;
    margin-bottom: 40px !important;
}

.gamehub-games-section-layout {
    justify-content: center;
    margin-left: 30px;
    margin-right: 30px;
}
