.not-found-layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
}

.not-found-emoji {
    font-size: 6rem;
    margin-bottom: 1rem;
}

.not-found-text {
    margin: 0;
    font-size: 2.5rem;
}
